@mixin base() {
    @include containContent();

    background-color: #037FB0;
    color: #fff;
    padding: 2rem;

}

.page-footer {
 @include base;

 @import 'nav';
 @import 'content';
 @import 'legal';
 @import 'image';

}