@mixin base() {
    background-color: #3a80aa;
    border-radius: .4rem;
    color: #fff;
    display: block;
    font-weight: 500;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    width: 25rem;

    @media all and (min-width: 768px) {
        margin: initial;
    }
}

&__button {
    @include base;

    &:hover {
        background-color: #3A89AA;
    }
}