@mixin base() {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;

    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

&__container {
    @include base;
}