@mixin base() {
    // background-color: #333;
    // line-height: 2.4rem;
    // height: 21rem;
    // margin-top: -12rem;
    // padding: 8rem 2rem 1rem 2rem;
    margin-bottom: 5rem;

    @media all and (min-width: 768px) {
        font-size: 1.8rem;
        // height: 16rem;
        // margin-top: -13rem;
        // padding: 4rem 7rem 1rem 7rem;
    }

    @media all and (min-width: 1200px) {
        max-width: 100%;
        // padding-top: 5rem;
    }

}

&__description {
    @include base;
}