@mixin base() {
    color: #333;
    margin-left: 3rem;
    margin-right: 3rem;

    @media all and (min-width: 768px) {
        flex-basis: 30%;
        margin-left: 3rem;
        margin-right: 0;
    }

}


&__discover {
    @include base;

    &-content {
        margin: 0 auto;
        margin-top: 4rem;
    }
    
}