@mixin base() {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin: 0 auto;

    @media all and (min-width: 768px) {
        justify-content: flex-end;
        margin: initial;
        width: 50%;
    }
}

&__container {
    @include base;
}