@mixin base() {
    color: #fff;
    margin-bottom: 2rem;
    padding: 5rem;

    @media all and (min-width: 768px) {
    }
}

&__text {
    @include base;

    h1 {
        font-size: 3.4rem;
        padding-top: 2rem;
        text-align: center;

        @media all and (min-width: 768px) {
            font-size: 6rem;
            line-height: 8rem;
            margin: 0 auto;
            max-width: 55%;
            text-align: center;
        }
    }

    p {
        @media all and (min-width: 768px) {
            line-height: 2.5rem;
        }
    }
    
}