@mixin base() {
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
        // margin-left: 3rem;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        height: 50%;
        width: 50%;
    }
}

.video {
    @include base;

    @import 'content';
    @import 'wrapper';
}