@mixin base() {
    margin: 0 auto;
    transform: translateY(-6.8rem);
    width: 90%;

    @media screen and (min-width: 768px) {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
        max-width: 725px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.video {
    @include base;

    @import 'content';
    @import 'wrapper';
}