@mixin base() {
    background-color: #037FB0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    width: 25rem;
}

&__button {
    @include base;

    &:hover {
        background-color: #3A89AA;
    }
}