@mixin base() {
    // @include containElement();

    background-color: #f4f4f4;
    padding: 2rem;

    @media(min-width: 768px) {
        padding: 0 5rem;
        padding-bottom: 10rem;
        padding-top: 4rem;
    }
}

.faqs {
    @include base;

    @import 'heading';
    @import 'question';
    @import 'answer';
    @import 'answer-link';
    @import 'faq';
    @import 'list';
}