@mixin base() {
    border-bottom: 1px solid #aaa;
    list-style-type: none;
    padding: 2rem;
    max-width: 1250px;
}

&__faq {
    @include base;
    
    &--closed {
        @include base;
    }
    
}