@mixin base() {
    color: #3A80AA;
    font-family: 'Ubuntu';
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 4rem;

    @media all and (min-width: 768px) {
        font-size: 4rem;
    }
}

&__heading {
    @include base;

}