@mixin base() {
    color: $yellow;
    font-size: 2rem;
    line-height: 4rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 3rem;
    text-align: center;
}

&__description {
    @include base;
}