@mixin base() {
    border: 15px solid #333;
    border-radius: 50%;
    height: 20rem;
    left: 1rem;
    margin: 0 auto;
    position: absolute;
    right: 1rem;
    top: 325%;
    width: 20rem;
}

&__image {
    @include base;
}