@mixin base() {
    border: 15px solid #333;
    border-radius: 50%;
    height: 20rem;
    left: 1rem;
    margin: 0 auto;
    position: absolute;
    right: 1rem;
    top: -8rem;
    width: 20rem;

    @media all and (min-width: 768px) {
        height: 25rem;
        width: 25rem;
    }
}

&__image {
    @include base;
}