@mixin base() {
    // @include containElement();
    background-color: #333;
    padding-bottom: 5rem;
    position: relative;
}

.testimonial {
    @include base;

    @import 'button';
    @import 'description';
    @import 'image';
    @import 'caption';
    @import 'heading';
    @import 'name';
    
}